@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather Sans';
    background-color: var(--body-bg-color);
    color: var(--text-color);
}
.container-grid{
    margin: 0 auto;
    padding: 20px;
    max-width: 1140px;
    display: grid;
    grid-template-columns: 350px 750px;
    gap: 30px;
}
h1{
    font-size: 25px;
}
.coluna-lateral{
    display: flex;
    flex-direction: column;
}

.box--lateral{
    min-height: 200px;
    background-color: var(--bg-cards);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 20px;
}

/*box perfil*/
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile img{
    width: 150px;
    height: 150px;
    border: 3px solid var(--bg-techs);
    border-radius: 50%;
}

.desc h2{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.desc h3{
    font-size: 10px;
    text-align: center;
}

/*contact*/

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.contact--item{
    display: flex;
    align-items: center;
    gap: 20px;  
}

/*tecnologias*/

.techs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.techs--item{
    background-color: var(--bg-techs);
    color: #7d2c96;
    width: 80px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
}

/*experinces and education*/

.experience ul{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
}

.experience ul li{
    margin-bottom: 20px;
}
.experience ul h4{
    margin-bottom: 5px;
    font-weight: 700;
}

.experience ul span{
    font-size: 13px;
}


/*conteudo coluna principal*/

.box--principal{
    margin-bottom: 30px;
    padding: 0;
}

.box--principal-title{
    width: 100%;
    background-color: var(--bg-cards);
    padding: 15px;
    border-radius: 25px;
}

/*box projects*/

.box--principal-projects{
    width: 780px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects{
    width: 380px;
    margin-top: 20px;
    min-height: 200px;
    background-color: var(--bg-cards);
    border-radius: 20px;

}

.box--principal-posts{
    width: 100%;
    min-height: 200px;
    background-color: var(--bg-cards);
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
}


/*footer*/
footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


/*responsividade*/

@media (min-width: 769px) and (max-width: 1140px) {
    
}

@media (min-width: 426px) and (max-width: 768px){
    *{
        box-sizing: content-box;
    }
    .container-grid {
        grid-template-columns: 1fr 650px;
        gap: 20px;
        padding-right: 20px;
    }

    .box--principal-projects{
        flex-wrap: nowrap;
        flex-direction: column;
        width: 650px;
    }
    .box--principal-title{
        padding-right: 0;
    }
}

@media (max-width: 425px){
    .container-grid{
        max-width: 200px;
        grid-template-columns: 1fr;
        padding: 0px;
        margin: 0;
    }
    
    .box--lateral{
        max-width: 250px;
        min-height: 100px;
        background-color: var(--bg-cards);
        margin-bottom: 20px;
        padding: 30px;
        border-radius: 20px;
    }

    .contact{
        word-break: break-word;
    }

    .box--principal-title{
        width: 250px;
        background-color: var(--bg-cards);
        padding: 15px;
        border-radius: 25px;
    }

    .box--principal-projects{
        max-width: 250px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .projects{
        width: 200px;
        margin-top: 20px;
        min-height: 200px;
        background-color: var(--bg-cards);
        border-radius: 20px;
    }
    
    .box--principal-posts{
        width: 200px;
        min-height: 200px;
        background-color: var(--bg-cards);
        margin-top: 20px;
        padding: 15px;
        border-radius: 25px;
    }
    footer{
        display: none;
    }
    
}